@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 badge-warning border-primary">Ristorante da Mari</h1>
    <h1 class="display-4 thead-light">
        Un luogo sicuro per chi vuole gustare tutto il “BUONO” del mare
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
